.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: rotate(45deg);
  position: relative;
  top: 32px;
  transition: ease-in-out 2s;
}

.hamburger:hover > div:nth-child(2){
  background-color: mediumvioletred;
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  transition: ease-in-out 2s;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: rotate(-45deg);
  position: relative;
  bottom: 35px;
  transition: ease-in-out 2s;
}

nav {
  opacity: 0;
  transition-duration: 5s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {}
  to {}
}

@keyframes middle {
  from {}
  to {}
}

@keyframes bottom {
  from {}
  to {}
}
